# If you are using HCP Terraform then add your org name below
TF_ORG=hcp_org_name
# Name of project for HCP terraform
TF_PROJECT=atlasbot
# The env name below should be a tag on a workspace in your HCP project so you can have eg dev and prod workspaces
TF_ENV=dev