CUSTOM_DOMAIN_NAME=slackapps.example.com
FORGE_ID=ari:cloud:ecosystem::app/alphanum
SLACK_CLIENT_ID=num.num
SLACK_CLIENT_SECRET=alphanum
# This must match the Lambda version elsewhere
ATLASBOT_WEBHOOK_PATH=/0_0_1/atlas-webhook
FORGE_ENVIRONMENT=development
SITE=example.atlassian.net